<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithnuwanthhika.cabservice.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithnuwanthhika.cabservice.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserController</servlet-name>
  	<display-name>UserController</display-name>
  	<description></description>
  	<servlet-class>com.codewithnuwanthhika.cabservice.controller.UserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DriverServlet</servlet-name>
  	<display-name>DriverServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithnuwanthhika.cabservice.controller.DriverServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewVehicaleServlet</servlet-name>
  	<display-name>ViewVehicaleServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithnuwanthhika.cabservice.controller.ViewVehicaleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateVehicaleServlet</servlet-name>
  	<display-name>UpdateVehicaleServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithnuwanthhika.cabservice.controller.UpdateVehicaleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddVehicaleServlet</servlet-name>
  	<display-name>AddVehicaleServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithnuwanthhika.cabservice.controller.AddVehicaleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletVehicleServlet</servlet-name>
  	<display-name>DeletVehicleServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithnuwanthhika.cabservice.controller.DeletVehicleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerBookingServlet</servlet-name>
  	<display-name>CustomerBookingServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithnuwanthhika.cabservice.controller.CustomerBookingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewCustomerBookingServlet</servlet-name>
  	<display-name>ViewCustomerBookingServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithnuwanthhika.cabservice.controller.ViewCustomerBookingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FeedbackServlet</servlet-name>
  	<display-name>FeedbackServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithnuwanthhika.cabservice.controller.FeedbackServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewDriverServlet</servlet-name>
  	<display-name>ViewDriverServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithnuwanthhika.cabservice.controller.ViewDriverServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteDriverServlet</servlet-name>
  	<display-name>DeleteDriverServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithnuwanthhika.cabservice.controller.DeleteDriverServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateDriverServlet</servlet-name>
  	<display-name>UpdateDriverServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithnuwanthhika.cabservice.controller.UpdateDriverServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerBookServlet</servlet-name>
  	<display-name>CustomerBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithnuwanthhika.cabservice.controller.CustomerBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserController</servlet-name>
  	<url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DriverServlet</servlet-name>
  	<url-pattern>/adddriver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewVehicaleServlet</servlet-name>
  	<url-pattern>/ViewVehicaleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateVehicaleServlet</servlet-name>
  	<url-pattern>/UpdateVehicaleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddVehicaleServlet</servlet-name>
  	<url-pattern>/AddVehicaleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletVehicleServlet</servlet-name>
  	<url-pattern>/DeletVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerBookingServlet</servlet-name>
  	<url-pattern>/CustomerBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewCustomerBookingServlet</servlet-name>
  	<url-pattern>/ViewCustomerBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FeedbackServlet</servlet-name>
  	<url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewDriverServlet</servlet-name>
  	<url-pattern>/ViewDriverServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteDriverServlet</servlet-name>
  	<url-pattern>/DeleteDriverServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateDriverServlet</servlet-name>
  	<url-pattern>/UpdateDriverServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerBookServlet</servlet-name>
  	<url-pattern>/CustomerBookServlet</url-pattern>
  </servlet-mapping>
</web-app>
